$btn_color: #4aaff3;
$bg_light_blue: #fafbfd;

.listItem {
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: $bg_light_blue;
   padding: 0.8rem;
   font-size: 1.2rem;
   margin-top: 1.5rem;

   .container {
      display: flex;
      align-items: center;
   }

   .btn {
      background-color: $bg_light_blue;
      
      color: $btn_color;
      border:2px solid $btn_color;
      border-radius: 8px;
      padding:.5rem;
      &:focus{
         border-color: rgb(73, 73, 73);
         background-color:#e6e6e7 ;
         transition: background .5s;
         color:#000;
      }
      span.detail{
         text-align: center;
         margin:0 .5rem;
      }


   }
   .circle {
      margin-right: 1rem;
      background-color: #fe835a;
      padding: 1.5rem;
   }
}
